.editor {
  height: 100%;
  min-height: 450px;
  margin-top: var(--header-height);
  --editor-padding: 1rem 0px;
  --line-number-width: 4.5em;
  font-size: 1rem;
  // --header-height: 40px;

  & > header {
    display: flex;
    position: absolute;
    top: calc(var(--header-height) * -1);
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 8px 8px 0 0;
    background-color: inherit;
    padding-inline: 20px;
    width: 100%;
    height: 40px;
    color: inherit;
  }
}

.editorInput {
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  overflow: auto;
  resize: none;
  color: transparent;
  caret-color: var(--fg, black);
  white-space: pre;
  --sb-track-color: #232e33;
  --sb-thumb-color: #3f4954;
  --sb-size: 10px;

  &::-webkit-scrollbar {
    width: var(--sb-size);
    cursor: default;
  }

  &::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
    cursor: default;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
    cursor: default;
  }

  @supports not selector(::-webkit-scrollbar) {
    & {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
  }

  position: absolute;
  margin: 0;
  inset: 0;
  border: 0;
  padding: var(--editor-padding);
  font-size: inherit;
  line-height: inherit;
  tab-size: var(--tab-size);
  font-family: var(--font-family, monospace);

  &.lineNumbers {
    padding-left: var(--line-number-width);
  }
}

.editorOutput {
  counter-reset: shiki-line 0;
  overflow: hidden;
  pointer-events: none;

  position: absolute;
  margin: 0;
  inset: 0;
  border: 0;
  padding: var(--editor-padding);
  font-size: inherit;
  line-height: inherit;
  tab-size: var(--tab-size);
  font-family: var(--font-family, monospace);

  & > pre {
    display: contents;

    & > code {
      font-family: var(--font-family, monospace);
    }
  }

  & :global .line {
    counter-increment: shiki-line 1;
  }

  & :global .line::before {
    display: inline-block;
    position: sticky;
    left: 0;
    box-sizing: border-box;
    background-color: var(--bg);
    width: 2em;
    content: counter(shiki-line);
    color: var(--bg);
    text-align: right;
  }

  &.lineNumbers :global .line::before {
    padding-right: 1.7em;
    width: var(--line-number-width);
    color: var(--fg);
  }
}
